<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/jelmiroz" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/g-gerak" rel="stylesheet"> 
    <link rel="stylesheet" href="./static/aboutStyle.css">

</head>
<body>
    <div class="navbar">
        <h1>Bizzles Cards</h1>
        <a href="/">↩Return</a>
        
    </div>
    <p>
        Hello! my name is Lizzy (aka Bizzle) and I make decorated penpal cards and letters I've been penpalling since 2020, 
        i started to try to make friends during quarantine, and have continued this hobby to connect with people all over the uk. 
        I make a lot of cards for friends and families birthdays as i feel handmade cards are so much more sincere and personal. 
        i mostly work with pastel colours and am heavily influenced by japanese and korean aesthetics and stationery. 
        I also journal about my interests, for example genshin impact, kpop anime and much more!
    </p>   
</body>
</html>