<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/jelmiroz" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/g-gerak" rel="stylesheet"> 
    <link rel="stylesheet" href="./static/portfolioStyles.css">    
</head>
<body>
    <div class="navbar">
        <h1>Bizzles Cards</h1>
        <a href="/">↩Return</a>
        
    </div>  

    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="letters\letter1.png" draggable="false" />
        <img class="image" src="letters\letter2.png" draggable="false" />
        <img class="image" src="letters\letter3.png" draggable="false" />
        <img class="image" src="letters\letter4.png" draggable="false" />
        <img class="image" src="letters\letter5.png" draggable="false" />
        <img class="image" src="letters\letter6.png" draggable="false" />
        <img class="image" src="letters\letter7.png" draggable="false" />
        <img class="image" src="letters\letter8.png" draggable="false" />
      </div>
      
      
     
     
      <script>
            const track = document.getElementById("image-track");

            const handleOnDown = e => track.dataset.mouseDownAt = e.clientX;

            const handleOnUp = () => {
            track.dataset.mouseDownAt = "0";  
            track.dataset.prevPercentage = track.dataset.percentage;
            }

            const handleOnMove = e => {
            if(track.dataset.mouseDownAt === "0") return;
            
            const mouseDelta = parseFloat(track.dataset.mouseDownAt) - e.clientX,
                    maxDelta = window.innerWidth / 2;
            
            const percentage = (mouseDelta / maxDelta) * -100,
                    nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage,
                    nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, 0), -100);
            
            track.dataset.percentage = nextPercentage;
            
            track.animate({
                transform: `translate(${nextPercentage}%, -50%)`
            }, { duration: 1200, fill: "forwards" });
            
            for(const image of track.getElementsByClassName("image")) {
                image.animate({
                objectPosition: `${100 + nextPercentage}% center`
                }, { duration: 1200, fill: "forwards" });
            }
            }

            /* -- Had to add extra lines for touch events -- */

            window.onmousedown = e => handleOnDown(e);

            window.ontouchstart = e => handleOnDown(e.touches[0]);

            window.onmouseup = e => handleOnUp(e);

            window.ontouchend = e => handleOnUp(e.touches[0]);

            window.onmousemove = e => handleOnMove(e);

            window.ontouchmove = e => handleOnMove(e.touches[0]);
    </script>

</body>

</html>